<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BandOneTwo</key>
	<array>
		<dict>
			<key>name</key>
			<string>Black</string>
			<key>value</key>
			<string>0</string>
			<key>colorValue</key>
			<string>0,0,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>32</string>
				<string>74</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown</string>
			<key>value</key>
			<string>1</string>
			<key>colorValue</key>
			<string>156,97,2,1</string>
			<key>colorMin</key>
			<array>
				<string>16</string>
				<string>159</string>
				<string>139</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>16</string>
				<string>255</string>
				<string>139</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Red</string>
			<key>value</key>
			<string>2</string>
			<key>colorValue</key>
			<string>255,0,0,1</string>
			<key>colorMin</key>
			<array>
				<string>170</string>
				<string>170</string>
				<string>75</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>180</string>
				<string>240</string>
				<string>255</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Orange</string>
			<key>value</key>
			<string>3</string>
			<key>colorValue</key>
			<string>255,145,0,1</string>
			<key>colorMin</key>
			<array>
				<string>16</string>
				<string>180</string>
				<string>255</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>18</string>
				<string>255</string>
				<string>255</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Yellow</string>
			<key>value</key>
			<string>4</string>
			<key>colorValue</key>
			<string>255,255,0,1</string>
			<key>colorMin</key>
			<array>
				<string>30</string>
				<string>183</string>
				<string>201</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>30</string>
				<string>255</string>
				<string>255</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Green</string>
			<key>value</key>
			<string>5</string>
			<key>colorValue</key>
			<string>0,255,0,1</string>
			<key>colorMin</key>
			<array>
				<string>56</string>
				<string>255</string>
				<string>69</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>56</string>
				<string>255</string>
				<string>255</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue</string>
			<key>value</key>
			<string>7</string>
			<key>colorValue</key>
			<string>0,0,255,1</string>
			<key>colorMin</key>
			<array>
				<string>106</string>
				<string>101</string>
				<string>129</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>126</string>
				<string>255</string>
				<string>255</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Violet</string>
			<key>value</key>
			<string>7</string>
			<key>colorValue</key>
			<string>124,0,181,1</string>
			<key>colorMin</key>
			<array>
				<string>134</string>
				<string>124</string>
				<string>110</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>137</string>
				<string>255</string>
				<string>255</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Gray</string>
			<key>value</key>
			<string>8</string>
			<key>colorValue</key>
			<string>122,122,122,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>32</string>
				<string>84</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>144</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>White</string>
			<key>value</key>
			<string>9</string>
			<key>colorValue</key>
			<string>255,255,255,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>239</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>255</string>
			</array>
		</dict>
	</array>
	<key>BandThree</key>
	<array>
		<dict>
			<key>name</key>
			<string>Black</string>
			<key>value</key>
			<string>0</string>
			<key>colorValue</key>
			<string>0,0,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown</string>
			<key>value</key>
			<string>1</string>
			<key>colorValue</key>
			<string>156,97,2,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Red</string>
			<key>value</key>
			<string>2</string>
			<key>colorValue</key>
			<string>255,0,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Orange</string>
			<key>value</key>
			<string>3</string>
			<key>colorValue</key>
			<string>255,145,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Yellow</string>
			<key>value</key>
			<string>4</string>
			<key>colorValue</key>
			<string>255,255,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Green</string>
			<key>value</key>
			<string>5</string>
			<key>colorValue</key>
			<string>0,255,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue</string>
			<key>value</key>
			<string>6</string>
			<key>colorValue</key>
			<string>0,0,255,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold</string>
			<key>value</key>
			<string>-1</string>
			<key>colorValue</key>
			<string>255,179,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Silver</string>
			<key>value</key>
			<string>-2</string>
			<key>colorValue</key>
			<string>150,149,144,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
	</array>
	<key>BandFour</key>
	<array>
		<dict>
			<key>name</key>
			<string>Brown</string>
			<key>value</key>
			<string>+/- 1 %</string>
			<key>colorValue</key>
			<string>156,97,2,1</string>
			<key>colorMin</key>
			<array>
				<string>196</string>
				<string>138</string>
				<string>45</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>115</string>
				<string>71</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Red</string>
			<key>value</key>
			<string>+/- 2 %</string>
			<key>colorValue</key>
			<string>255,0,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Gold</string>
			<key>value</key>
			<string>+/- 5 %</string>
			<key>colorValue</key>
			<string>255,179,0,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Silver</string>
			<key>value</key>
			<string>+/- 10 %</string>
			<key>colorValue</key>
			<string>150,149,144,1</string>
			<key>colorMin</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>colorMax</key>
			<array>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
